<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883360656582-6koln4j01u0onvkgkiir5ttt9oavkdeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883360656582-6koln4j01u0onvkgkiir5ttt9oavkdeb</string>
	<key>API_KEY</key>
	<string>AIzaSyDrkxw3__wGa-7aY_qnnelgxxpYqfe7LOw</string>
	<key>GCM_SENDER_ID</key>
	<string>883360656582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takeVideo</string>
	<key>PROJECT_ID</key>
	<string>take-video-b8d15</string>
	<key>STORAGE_BUCKET</key>
	<string>take-video-b8d15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883360656582:ios:cfed6f36240d917e007bc7</string>
</dict>
</plist>